
:root {

    /*Posicionamiento de elementos */

    display: flex; 
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 5ch;

    /*background */

    background-image: url(../../../img/background.png);
    background-size: cover;
    background-position: center;
    

}

/*Modificando el estilo del form*/

#Container_New_User {

    background-color: white;
    text-align: center;
    width: 35vw;
    height: 60vh;
    padding: 35px;
    border-radius: 15px;
}


#img_logo {
    width: 30vw;
    margin-bottom: 20px;

}

/*Modificando el estilo de los input*/

#Container_New_User #New_Email_User, #New_Password_User, #New_Password_Confirm {
    width: 94%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }

   /*Modificando el estilo de los botones*/

   #Container_New_User  #Registrar {
    width: 100%;
    background-color: #47077a;
    color: white;
    font-size: 1rem;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    
  }

  #Container_New_User #Registrar:hover {
    background-color: #270345;
  }

  /*Boton de inicio*/

  #Container_New_User #Container_Modificaciones {
    display: flex;
    justify-content:center;
    margin-top: 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
    
  }

  #Container_New_User #Container_Modificaciones a {
    
    text-decoration: none;
    color: #270345;
  }

  #Container_New_User #Container_Modificaciones a:hover {
    
    text-decoration: underline;
  }

/*---------------------------------------------------------------*/

/*Media Querys para diferentes dispositivos moviles*/


/*TABLETS*/

@media only screen and (max-width: 1024px) {

    :root {
        justify-content: center;
        align-items: center;
        padding-right: 5ch;
        background-repeat: no-repeat;
    }

    #Container_New_User {
        width: 50vw; 
        height: 65vh; 
        padding: 25px;
    }

    #img_logo {
        width: 40vw;
    }

    #Container_New_User #New_Email_User, #New_Password_User, #New_Password_Confirm {
        width: 95%;
    }


  #Container_New_User #Container_Modificaciones {
   
    font-size: 0.9rem;
    padding: 10px;
    
  }

}

@media only screen and (max-width: 600px) {

    :root {
        justify-content: center;
        align-items: center;
        padding-right: 0;
        background-repeat: no-repeat;
    }

    #Container_New_User {
        width: 90vw; 
        height: auto;
        padding: 25px;
        border-radius: 10px;
    }

    #img_logo {
        width: 70vw;
    }

    #Container_New_User #New_Email_User, #New_Password_User, #New_Password_Confirm {
        width: 95%;
    }


    #Container_New_User #Container_Modificaciones {
   
        flex-direction: column;
        align-items: center;
        font-size: 0.7rem;
    }

    #container #Container_Modificaciones a {
        margin-top: 5px;
    }


}